{% extends 'base.html' %}

{% block app_content %}
<h1>
    Here are your candidates and roles
</h1>
    <h3>Calculating the best match for {{ data }} candidates will require {{ data ** 4 }} steps.</h3>
    <div class="col-md-6">
        <h2>
            Candidates
        </h2>
            {% for candidate in candidates %}
                <p>{% include '_candidate.html' %}</p>
            {% endfor %}
    </div>
    <div class="col-md-6">
        <h2>
            Roles
        </h2>
        <p>Roles haven't been built yet</p>
{#            {% for role in roles %}#}
{#                <p>{% include '_role.html' %}</p>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}