{% extends 'base.html' %}

{% block app_content %}
    <div class="col-md-8">
<h1>
    Here are your candidates and roles
</h1>
    <div class="col-md-6">
        <h2>
            Candidates
        </h2>
            {% for candidate in candidates %}
                <p>{% include '_candidate.html' %}</p>
            {% endfor %}
    </div>
    <div class="col-md-6">
        <h2>
            Roles
        </h2>
            {% for role in roles %}
                <p>{% include '_role.html' %}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}