{% extends "base.html" %}

{% block content %}
    <h1>Submit a role</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.organisation.label }}<br>
            {{ form.organisation(size=32) }}<br>
        </p>
        <p>
            {{ form.clearance.label }}<br>
            {{ form.clearance() }}<br>
        </p>
        <p>
            {{ form.private_office() }}{{ form.private_office.label }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
